# Operating System Files

*.DS_Store
Thumbs.db

# Build Files #

bin
target
build/
.gradle

# Eclipse Project Files #

.classpath
.project
.settings

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Test files

*-uploaded
dependency-reduced-pom.xml
README.html
 
upload-dir

# Config files #

homeserver-ci-cd/src/main/resources/application.properties
homeserver-ci-cd/src/main/java/com/example/uploadingfiles/storage/VolumeData.java
electron-app/endpoints.js
electron-app/node_modules/
electron-app/node_modules
electron-app/out
electron-app/out/

homeserver-ci-cd/src/main/java/com/example/uploadingfiles/storage/PasswordSecret.java
homesesrver-ci-cd/src/main/resources/application.properties